:root {
  --border-color: #2f4550;
  --primary-color: #2f4550;
  --secondary-color: #b8dbd9;
  --accent-color: #f4f4f9;
}

* {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", sans-serif;
}

header {
  width: 100%;
  background-color: var(--primary-color);
}

header > span {
  display: block;
  font-size: 1.5rem;
  margin: auto;
  padding: 1rem;
  width: fit-content;
  color: var(--accent-color);
}

nav {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--accent-color);
}

.navigation {
  width: 100%;
  display: flex;
}

.navigation li {
  list-style-type: none;
  flex: 1 1 auto;
}

.navigation a {
  padding: 1rem;
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
}

.navigation a:hover {
  background-color: var(--secondary-color);
  color: black;
}

main {
  display: grid;
  grid-row: 2 / 3;
  grid-template: 0.2fr 500px / repeat(5, 1fr);
  max-width: 1100px;
  margin: auto;
  height: 600px;
  gap: 1rem;
  padding: 1rem;
}

main > h1 {
  text-align: center;
  padding-top: 1.5rem;
  grid-column: 1/6;
}

.card {
  position: relative;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.card > h2 {
  background-color: var(--primary-color);
  border-radius: 1rem 1rem 0 0;
  padding: 1rem;
  text-align: center;
  color: var(--accent-color);
}

#about-me {
  grid-column: 1/4;
}

#web-dev-resources {
  grid-column: 4/6;
}

.content {
  padding: 1rem 1.5rem 0;
}

.content > p {
  word-break: break-word;
}

footer {
  margin-top: 2rem;
  background-color: var(--secondary-color);
  text-align: center;
  color: black;
  height: 90px;
  padding: 1rem;
}
